@mixin custom-slide-toggle-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);
    $thumb-checked-hue: default;

    .mat-slide-toggle {
    
        &.mat-success {
          @include _mat-slide-toggle-checked($success, $thumb-checked-hue);
        }

        &.mat-danger {
            @include _mat-slide-toggle-checked($danger, $thumb-checked-hue);
        }

        &.mat-info {
            @include _mat-slide-toggle-checked($info, $thumb-checked-hue);
        }

        &.mat-light {
            @include _mat-slide-toggle-checked($light, $thumb-checked-hue);
        }

        &.mat-dark {
            @include _mat-slide-toggle-checked($dark, $thumb-checked-hue);
        }

      }
}