@mixin _mat-slider-inner-content-theme($palette) {
    .mat-slider-track-fill,
    .mat-slider-thumb,
    .mat-slider-thumb-label {
      background-color: mat-color($palette);
    }
  
    .mat-slider-thumb-label-text {
      color: mat-color($palette, default-contrast);
    }
  
    .mat-slider-focus-ring {
      $opacity: 0.2;
      $color: mat-color($palette, default, $opacity);
      background-color: $color;
  
      // `mat-color` uses `rgba` for the opacity which won't work with
      // CSS variables so we need to use `opacity` as a fallback.
      @if (type-of($color) != color) {
        opacity: $opacity;
      }
    }
  }

@mixin custom-slider-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);
    
    .mat-success {
        @include _mat-slider-inner-content-theme($success);
    }
    .mat-danger {
        @include _mat-slider-inner-content-theme($danger);
    }
    .mat-info {
        @include _mat-slider-inner-content-theme($info);
    }
    .mat-light {
        @include _mat-slider-inner-content-theme($light);
    }
    .mat-dark {
        @include _mat-slider-inner-content-theme($dark);
    }
}