@mixin custom-alert-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    snack-bar-container {
    
        &.mat-primary {
            background-color: mat-color($primary, 400);
            color: mat-color($primary, default-contrast);
        }

        &.mat-accent {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast);
        }

        &.mat-warn {
            background-color: mat-color($warn);
            color: mat-color($warn, default-contrast);
        }

        &.mat-success {
            background-color: mat-color($success, 300);
            color: mat-color($success, default-contrast);
        }

        &.mat-danger {
            background-color: mat-color($danger);
            color: mat-color($danger, default-contrast);
        }

        &.mat-info {
            background-color: mat-color($info);
            color: mat-color($info, default-contrast);
        }

        &.mat-light {
            background-color: mat-color($light);
            color: mat-color($light, default-contrast);
        }

        &.mat-dark {
            background-color: mat-color($dark, 900);
            color: mat-color($dark, default-contrast);
        }
    }
}