@mixin custom-icon-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-icon {
        &.mat-success {
          color: mat-color($success)
        }
        &.mat-danger {
          color: mat-color($danger)
        }
        &.mat-info {
          color: mat-color($info)
        }
        &.mat-light {
            color: mat-color($light)
        }
        &.mat-dark {
            color: mat-color($dark)
        }
      }
}