@mixin custom-toolbar-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-toolbar {
        &.mat-success {
            background-color: mat-color($success);
            color: mat-color($success, default-contrast);
        }
        &.mat-danger {
            background-color: mat-color($danger)
        }
        &.mat-info {
            background-color: mat-color($info);
            color: mat-color($info, default-contrast);
        }
        &.mat-light {
            background-color: mat-color($light);
            color: mat-color($light, default-contrast);
        }
        &.mat-dark {
            background-color: mat-color($dark);
            color: mat-color($dark, default-contrast);
        }
      }
}