@mixin custom-checkbox-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-checkbox-indeterminate, .mat-checkbox-checked {
        &.mat-success .mat-checkbox-background {
          background-color: mat-color($success);
        }
        &.mat-danger .mat-checkbox-background {
            background-color: mat-color($danger);
        }
        &.mat-info .mat-checkbox-background {
            background-color: mat-color($info);
        }
        &.mat-light .mat-checkbox-background {
            background-color: mat-color($light);
        }
        &.mat-dark .mat-checkbox-background {
            background-color: mat-color($dark);
        }
    }


    .mat-checkbox-checked:not(.mat-checkbox-disabled),
    .mat-checkbox:active:not(.mat-checkbox-disabled) {
        &.mat-success .mat-ripple-element {
            background: mat-color($success);
        }
        &.mat-danger .mat-ripple-element {
            background: mat-color($danger);
        }
        &.mat-info .mat-checkbox-background {
            background-color: mat-color($info);
        }
        &.mat-light .mat-checkbox-background {
            background-color: mat-color($light);
        }
        &.mat-dark .mat-checkbox-background {
            background-color: mat-color($dark);
        }
    }

    .mat-danger, .mat-light {
        .mat-checkbox-checkmark-path {
            stroke: black !important;
        }
    }
}