@mixin custom-progress-spinner-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-progress-spinner, .mat-spinner {
        &.mat-success circle {
            stroke: mat-color($success);
        }
        &.mat-danger circle {
            stroke: mat-color($danger);
        }
        &.mat-info circle {
            stroke: mat-color($info);
        }
        &.mat-light circle {
            stroke: mat-color($light);
        }
        &.mat-dark circle {
            stroke: mat-color($dark);
        }
    }
}