@mixin custom-button-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-raised-button,  .mat-flat-button, .mat-fab, .mat-mini-fab {
        &.mat-primary {
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($primary,400);
            }
        }
        &.mat-accent {
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($accent,300);
            }
        }
        &.mat-warn {
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($warn,300);
            }
        }
        &.mat-success {
            background-color: mat-color($success);
            color: mat-color($success, default-contrast);
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($success,400);
            }
        }
        &.mat-danger {
            background-color: mat-color($danger);
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($danger,300);
            }
        }
        &.mat-info {
            background-color: mat-color($info);
            color: mat-color($success, default-contrast);
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($info,300);
            }
        }
        &.mat-light {
            background-color: mat-color($light);
            color: mat-color($light, default-contrast);
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($light,300);
            }
        }
        &.mat-dark {
            background-color: mat-color($dark);
            color: mat-color($success, default-contrast);
            &:not(.mat-button-disabled):hover {
                background-color: mat-color($dark,300);
            }
        }
    }

    .mat-button, .mat-stroked-button, .mat-icon-button {
        &.mat-primary {
            &:not(.mat-button-disabled):hover {
                color: mat-color($primary,400);
            }
        }
        &.mat-accent {
            &:not(.mat-button-disabled):hover {
                color: mat-color($accent,300);
            }
        }
        &.mat-warn {
            &:not(.mat-button-disabled):hover {
                color: mat-color($warn,300);
            }
        }
        &.mat-success {
            color: mat-color($success);
            &:not(.mat-button-disabled):hover {
                color: mat-color($success,400);
            }
        }
        &.mat-danger {
            color: mat-color($danger);
            &:not(.mat-button-disabled):hover {
                color: mat-color($danger,300);
            }
        }
        &.mat-info {
            color: mat-color($info);
            &:not(.mat-button-disabled):hover {
                color: mat-color($info,300);
            }
        }
        &.mat-dark {
            color: mat-color($dark);
            &:not(.mat-button-disabled):hover {
                color: mat-color($dark,300);
            }
        }
    }
}