@mixin custom-badge-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-badge-success {
        .mat-badge-content {
          background: mat-color($success);
        }
    }

    .mat-badge-danger {
        .mat-badge-content {
          color: mat-color($danger, default-contrast);
          background: mat-color($danger);
        }
    }

    .mat-badge-info {
        .mat-badge-content {
          background: mat-color($info);
        }
    }

    .mat-badge-light {
        .mat-badge-content {
          color: mat-color($light, default-contrast);
          background: mat-color($light);
        }
    }

    .mat-badge-dark {
        .mat-badge-content {
          background: mat-color($dark);
        }
    }
}