@mixin custom-progress-bar-theme($theme) {
    $success: map-get($theme, success);
    $danger: map-get($theme, danger);
    $info: map-get($theme, info);
    $light: map-get($theme, light);
    $dark: map-get($theme, dark);

    .mat-progress-bar.mat-success {
        .mat-progress-bar-background {
          fill: mat-color($success, lighter);
        }
    
        .mat-progress-bar-buffer {
          background-color: mat-color($success, lighter);
        }
    
        .mat-progress-bar-fill::after {
          background-color: mat-color($success);
        }
    }

    .mat-progress-bar.mat-danger {
        .mat-progress-bar-background {
          fill: mat-color($danger, lighter);
        }
    
        .mat-progress-bar-buffer {
          background-color: mat-color($danger, lighter);
        }
    
        .mat-progress-bar-fill::after {
          background-color: mat-color($danger);
        }
    }

    .mat-progress-bar.mat-info {
        .mat-progress-bar-background {
          fill: mat-color($info, lighter);
        }
    
        .mat-progress-bar-buffer {
          background-color: mat-color($info, lighter);
        }
    
        .mat-progress-bar-fill::after {
          background-color: mat-color($info);
        }
    }

    .mat-progress-bar.mat-light {
        .mat-progress-bar-background {
          fill: mat-color($light, lighter);
        }
    
        .mat-progress-bar-buffer {
          background-color: mat-color($light, lighter);
        }
    
        .mat-progress-bar-fill::after {
          background-color: mat-color($light);
        }
    }

    .mat-progress-bar.mat-dark {
        .mat-progress-bar-background {
          fill: mat-color($dark, lighter);
        }
    
        .mat-progress-bar-buffer {
          background-color: mat-color($dark, lighter);
        }
    
        .mat-progress-bar-fill::after {
          background-color: mat-color($dark);
        }
    }
}