@import '~@angular/material/theming';
@import './palette.scss';
@import './custom-toolbar-theme.scss';
@import './custom-icon-theme.scss';
@import './custom-badge-theme.scss';
@import './custom-checkbox-theme.scss';
@import './custom-progress-bar-theme.scss';
@import './custom-progress-spinner-theme.scss';
@import './custom-slide-toggle-theme.scss';
@import './custom-slider-theme.scss';
@import './custom-button-theme.scss';
@import './custom-alert-theme.scss';

@include mat-core();

// Définition des couleurs à utiliser
$angular-primary: mat-palette($primary, 500, 400, 900);
$angular-accent: mat-palette($secondary, 500, 300, 900);
$angular-warn: mat-palette($warning, 500, 300, 900);
$angular-success: mat-palette($success, 500, 400, 900);
$angular-danger: mat-palette($danger, 500, 400, 900);
$angular-info: mat-palette($info, 500, 300, 900);
$angular-light: mat-palette($light, 500, 300, 900);
$angular-dark: mat-palette($dark, 500, 300, 900);

// Création des nouveaux noms à utiliser
$custom-palettes: (
  success: $angular-success,
  danger: $angular-danger,
  info: $angular-info,
  light: $angular-light,
  dark: $angular-dark,
);

// Map des variables
$angular-theme: mat-light-theme($angular-primary, $angular-accent, $angular-warn);
$angular-theme: map-merge($angular-theme, $custom-palettes);

// Définition des composants customs
@mixin custom-theme($theme) {
    @include custom-toolbar-theme($theme);
    @include custom-icon-theme($theme);
    @include custom-badge-theme($theme);
    @include custom-checkbox-theme($theme);
    @include custom-progress-bar-theme($theme);
    @include custom-progress-spinner-theme($theme);
    @include custom-slide-toggle-theme($theme);
    @include custom-slider-theme($theme);
    @include custom-button-theme($theme);
    @include custom-alert-theme($theme);
  }

@include angular-material-theme($angular-theme);
@include custom-theme($angular-theme);