$primary: (
    50 : #e0efff,
    100 : #b3d7ff,
    200 : #80bdff,
    300 : #4da3ff,
    400 : #268fff,
    500 : #007bff,
    600 : #0073ff,
    700 : #0068ff,
    800 : #005eff,
    900 : #004bff,
    A100 : #ffffff,
    A200 : #f2f5ff,
    A400 : #bfceff,
    A700 : #a6baff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary: (
    50 : #edeeef,
    100 : #d3d6d8,
    200 : #b6babe,
    300 : #989ea4,
    400 : #828a91,
    500 : #6c757d,
    600 : #646d75,
    700 : #59626a,
    800 : #4f5860,
    900 : #3d454d,
    A100 : #a9d3fd,
    A200 : #77b9fc,
    A400 : #41a0ff,
    A700 : #2793ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$success: (
    50 : #e5f4e9,
    100 : #bfe5c7,
    200 : #94d3a2,
    300 : #69c17d,
    400 : #48b461,
    500 : #28a745,
    600 : #249f3e,
    700 : #1e9636,
    800 : #188c2e,
    900 : #0f7c1f,
    A100 : #aeffb8,
    A200 : #7bff8b,
    A400 : #48ff5e,
    A700 : #2fff47,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$info: (
    50 : #e3f4f6,
    100 : #b9e3ea,
    200 : #8bd1dc,
    300 : #5dbecd,
    400 : #3ab0c3,
    500 : #17a2b8,
    600 : #149ab1,
    700 : #1190a8,
    800 : #0d86a0,
    900 : #077591,
    A100 : #bef0ff,
    A200 : #8be4ff,
    A400 : #58d9ff,
    A700 : #3fd3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$danger: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warning: (
    50 : #f6e1e3,
    100 : #e9b5ba,
    200 : #db848c,
    300 : #cc525e,
    400 : #c12d3c,
    500 : #b60819,
    600 : #af0716,
    700 : #a60612,
    800 : #9e040e,
    900 : #8e0208,
    A100 : #ffbabb,
    A200 : #ff8789,
    A400 : #ff5457,
    A700 : #ff3b3e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$light: (
    50 : #fefefe,
    100 : #fdfdfe,
    200 : #fcfcfd,
    300 : #fafbfc,
    400 : #f9fafb,
    500 : #f8f9fa,
    600 : #f7f8f9,
    700 : #f6f7f9,
    800 : #f5f6f8,
    900 : #f3f5f6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #717579,
    400 : #52585d,
    500 : #343a40,
    600 : #2f343a,
    700 : #272c32,
    800 : #21252a,
    900 : #15181c,
    A100 : #63b1ff,
    A200 : #3097ff,
    A400 : #007efc,
    A700 : #0071e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

