.message {
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 2.5em;
    word-break: break-all;
    padding: 0.5em;
}

.close {
    position: absolute;
    right: -15px;
    top: -10px;
    cursor: pointer;
    font-size: 15px;
}